iframe,
embed {
  width: 100%;
  height: 100%;
  border-style: hidden;
}
.child {
  width: 80%;
  height: 300px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
}
.byhours {
  height: 600px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
